<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<title>Error</title>
</head>

<body>
<main>
    <div class="wrapper bg-white">
        <div class="h2 text-center">Error</div>
        <div class="text-center img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/NASA_logo.svg" alt="..." class="img-fluid">
        </div>
        <div class="h4 text-muted text-center pt-2">Something went wrong, we are sorry for the inconvenience.</div>
        <div class="text-center pt-3">
            <a href="/" class="btn btn-primary">Return to Homepage</a>
            <a href="/support" class="btn btn-block">Contact Support</a>
        </div>
    </div>
</main>
<%- include('includes/end.ejs') %>